$black: #222;
$white: #eeeeee;
$blue: #2F305D;
$shadow: #131237;

$web: #C9D2C9;
$graphic: #D0C4C9;
$other: #D9D6C6;
$web-l: #7CD27C;
$graphic-l: #D07FA1;
$other-l: #D9C96D;

$full-size: 980px;
$sp: 414px;
$tab: 1024px;
$pc: 1025px;

$sp-w: 90%;
$tab-w: 88%;

$base-font-family: 'Noto Sans Japanese', serif;
$base-font-weight: 600;
$base-font-size: 62.5%;
$base-background-color: $blue;
$base-font-color: $black;
$base-letter-spacing: 1px;
$base-line-height: 2.3rem;