<!DOCTYPE html>
<html lang="ja">
<head>
	<% var title = '芸工20周年記念事業WEBサイト' %>
	<% var description = '芸工が20周年を迎えるにあたっての記念事業のWebサイト制作をしたときの話。結果的に一年以上続く長いプロジェクトになっている。' %>
	<% include _head %>
</head>
<body>
	<% include _header %>
	<main>
		<div class="works-mv category-web">
			<img src="./images/works/20th/mv.png" alt="">
		</div>
		<div class="container clearfix">
			<section class="works-info">
				<h2>芸工20周年記念事業WEBサイト</h2>
				<time>2015.2 ~ 2016.5</time>
				<ul>
					<li>Planning</li>
					<li>Direction</li>
					<li>HTML + CSS</li>
					<li>JavaScript</li>
				</ul>
				<a href="http://geikou.jp/20th" target="_blank">http://geikou.jp/20th</a>
			</section>
			<div class="works-row js-fadein">
				<p>
					名古屋市立大学芸術工学部が20周年を迎えることを機に、記念事業を、萱光会（芸術工学部同窓会）が中心になり企画。その中心的な事業である「シンポジウム・パーティ」を告知することを主な目的として学生3名のグループで制作した。<br>
					また、2015年2月頃から1年以上にも渡って関わり続けている、比較的長期間のプロジェクトでもある。
				</p>
				<p>
					また、実行委員会の方とも密にコミュニケーションをとる必要があり、ただ制作するだけではなく打ち合わせやヒアリング等、ディレクションも行った。
				</p>
				<p>
					<a href="http://geikou.jp/20th" target="_blank">http://geikou.jp/20th</a>
				</p>
			</div>
			<div class="works-row clearfix js-fadein">
				<section class="fl">
					<h3>本番サイトに先駆けて<br>ランディングページを公開</h3>
					<p>
						実行委員会の方から制作の依頼を受けた時期には、パーティの内容をはじめ、記念事業全体の企画がまだまだ決まっていなかった段階だったので、「パーティを主軸として20周年の記念事業が行われる」ということと、その日付を告知するという目的で告知ページを制作し、公開した。
					</p>
					<p>
						ここでは、コーディングを担当した。
					</p>
					<p>
						デザインは、<a href="http://y-hmd.com/" target="blank">http://y-hmd.com</a>。UNITEDでも共に活動する。
					</p>
				</section>
				<img class="fr" src="./images/works/20th/img_1.png" alt="">
			</div>
			<div class="works-row clearfix js-fadein">
				<section class="fr">
					<h3>打ち合わせを重ね、<br>本バージョンのサイト公開</h3>
					<p>
						多くの卒業生・在校生・教職員やその他関係者の方々に参加してもらうかを論点に、何度も何度も打ち合わせをした。<br>
					</p>
					<p>
						ページ全体の構成案を紙に書き出し、ページ遷移などを視覚的に分かりやすくし案を練った。
					</p>
					<p>
						また、今回の記念事業の三本柱となった「シンポジウム・パーティ」、「記念誌」、「進路調査アンケート」は、下層ページでサイドバーにリンクを設けることでアクセスしやすくするデザインに。<br>
						各SNSの拡散能力を上げたいという希望で、トップページにはSNSへのリンクボタンを設置した。
					</p>
					<p>
						ここでは、ディレクションとコーディングを兼任した。
					</p>
					<p>
						デザインは、<a href="http://krdrsk.com" target="_blank">http://krdrsk.com</a>。同じくUNITEDで、三代目代表を務めている人。
					</p>
				</section>
				<img class="fl MT20" src="./images/works/20th/img_2.png" alt="">
			</div>
			<div class="works-row full clearfix js-fadein">
				<section>
					<h3>完成した本番Webサイトはこちら</h3>
					<p><a href="http://geikou.jp/20th" target="_blank">http://geikou.jp/20th</a></p>
					<p></p>
				</section>
				<img class="MT20" src="./images/works/20th/img_3.png" alt="">
				<img class="MT20" src="./images/works/20th/img_4.png" alt="">
			</div>
		</div>
	</main>
	<% include _footer %>
</body>
</html>