<!DOCTYPE html>
<html lang="ja">
<head>
	<% var title = 'canvas卓' %>
	<% var description = '名古屋市立大学で毎年開催され続けている卓プロジェクトで、WEB卓「canvas」に参加したときの作品。' %>
	<% include _head %>
</head>
<body>
	<% include _header %>
	<main>
		<h2>404<br>NOT FOUND</h2>
		<p>お探しのページはみつかりません。</p>
		<canvas id="wall-e"></canvas>
	</main>
	<% include _footer %>
</body>
</html>