<footer class="clearfix">
	<address class="social footer-left-box">
		<h1 class="logo-type"><a href="/">MTMTKZM.com</a></h1>
		<ul class="social-list">
			<li class="facebook">
				<a href="http://facebook.com/mtmtkzm" target="_blank"></a>
			</li>
			<li class="twitter">
				<a href="http://twitter.com/mtmtkzm" target="_blank"></a>
			</li>
			<li class="mail">
				<a href="mailto:hello@mtmtkzm.com"></a>
			</li>
		</ul>
	</address>
	<div class="footer-right-box">
		<p class="letter-text">もしよろしければ、<br>ご意見、ご感想をお聞かせ頂けませんか？</p>
		<textarea id="js-letter" class="letter-box" placeholder=""></textarea>
		<span id="js-send" class="letter-button">送信</span>
		<p class="copyright">&copy; 2016 Kazuma Matsumoto.</p>
	</div>
</footer>