<!DOCTYPE html>
<html lang="ja">
<head>
  <% var title = 'Doodle' %>
  <% var description = '名古屋市立大学 卓展2016で、Doodleという卓を立ち上げました。' %>
  <% include _head %>
</head>
<body>
  <% include _header %>
  <main>
    <div class="works-mv category-other">
      <img src="./images/works/doodle/mv.png">
    </div>
    <div class="container clearfix">
      <section class="works-info">
        <h2>Doodle</h2>
        <time>2016.3 ~ 8</time>
        <ul>
          <li>Event Planning</li>
          <li>Direction</li>
          <li>Design</li>
          <li>HTML5</li>
        </ul>
        <a href="http://doooodle.org" target="_blank">http://doooodle.org</a>
      </section>
      <div class="works-row js-fadein">
        <p>Doodleは遊び心を大切にし取り入れたWeb制作を行う卓です。Googleがアプリケーションに取り入れている遊び心や企画、イベントをお手本に、自らのWeb制作に遊び心を取り入れることを建前としました。しかし本音は、UXデザインという小難しい（=闇深くなってしまった）考え方をよりわかりやすく「遊び心」と言い換えて後輩に理解、経験してもらうことを目的としていました。<small style="font-size: 75%; opacity: .75">なぜこうも初心者お断り的な足を踏み入れにくい領域になってしまったのか...と個人的には思っています。実際はなってないかもしれないけど。</small></p>
        <p><a href="http://doooodle.org" target="_blank">http://doooodle.org</a></p>
      </div>
      <div class="works-row clearfix js-fadein">
        <img class="fl" src="./images/works/doodle/img_1.png">
        <section class="fr">
          <h3>Web卓をひらいたキッカケ</h3>
          <p>シンプルに言えば、卓展は僕がWebを学び始めたキッカケだからです。</p>
          <p>当時１年生だった僕に手取り足取り教えてくれたのが当時の<a href="http://sawa-zen.com" target="_blank">Web卓の卓長</a>でした。その恩返しは、「自分の後輩へする」と「教えてもらったことは、じぶんもぜんぶ後輩に教えてから卒業しよう」と決めていました。そういう心境から、DoodleというWeb卓をひらきました。</p>
        </section>
      </div>
      <div class="works-row clearfix js-fadein">
        <section class="fl">
          <h3>Doodleのブランディング</h3>
          <p>まずは、各所でキービジュアルとなるロゴを制作しました。個人的に当時、Angularに興味があったのでそのロゴである盾のモチーフををパクりました。</p>
          <p>ステッカーを作りました。</p>
          <p><a href="http://doooodle.org" target="_blank">Webサイト</a>も作りました。</p>
          <p>これらをもとにDoodleを広報し、興味のある1~3年生を募ります。また、そのために<a href="./images/works/doodle/doodle.pdf" target="_blank">卓長がプレゼンする場</a>も設けられています。</p>
        </section>
        <img class="fr" src="./images/works/doodle/img_2.png">
      </div>
      <div class="works-row clearfix js-fadein">
        <img class="fl" src="./images/works/doodle/img_3.png">
        <section class="fr">
          <h3>卓展当日の展示に向けて</h3>
          <p>集まったのは全員で9人。9人で3ヶ月間、卓展当日へ向けて頑張ります。</p>
          <p>作品（Webサイト）を作るだけでなく、それをどう展示するか、ここにも遊び心を取り入れることができます。それをみなで考え、形にしていきます。写真は、キャプションとなるDoodleのロゴと、自転車をDoodleカラーに塗っているところ。</p>
          <p>Google社内では、Googleのロゴカラーに塗られた乗り捨て自由の自転車が開放されています。それをDoodleでも真似ました。</p>
          <p>作品を制作する場面では、分かる人がわからない人に教えてあげるなど、温かい雰囲気に終始包まれました。</p>
          <p>そのおかげか、みなWeb制作初挑戦ながらも最後までやり遂げることができ、「楽しかった」と言ってもらうことができました。1年生だった僕が当時の4年生に対して思っていたことと同じことを、後輩が僕に対して思ってくれたようです。</p>
          <p>これにて「恩返し」を果たせたかもしれません。</p>
        </section>
      </div>
      <div class="works-row full clearfix js-fadein">
        <section>
          <p>ロゴの写真ばかりですみません。2017年3月で卒業し、世代交代。後輩に期待しています。</p>
        </section>
        <img class="MT20" src="./images/works/doodle/img_4.png">
        <img class="MT20" src="./images/works/doodle/img_5.png">
      </div>
    </div>
  </main>
  <% include _footer %>
</body>
</html>
