<!DOCTYPE html>
<html lang="ja">
<head>
	<% var title = '芸工祭2015WEBサイト' %>
	<% var description = '名古屋市立大学芸術工学部の学祭「芸工祭」のWeb部署長を務め、Webサイトを制作した話' %>
	<% include _head %>
</head>
<body>
	<% include _header %>
	<main>
		<div class="works-mv category-web">
			<img src="./images/works/geikousai/mv.png" alt="">
		</div>
		<div class="container clearfix">
			<section class="works-info">
				<h2>芸工祭2015 WEBサイト</h2>
				<time>2015.8 ~ 2015.10</time>
				<ul>
					<li>Planning</li>
					<li>Direction</li>
					<li>HTML + CSS</li>
					<li>JavaScript</li>
					<li>PHP</li>
				</ul>
				<a href="http://geikousai-ncu.com/2015" target="_blank">http://geikousai-ncu.com/2015</a>
			</section>
			<div class="works-row js-fadein">
				<p>
					芸工祭といえば、名古屋市立大学芸術工学部の学祭。毎年変わるテーマを考えるところから当日の運営まで、学生が全力を注ぎ込む４年間の一大イベント。<br>その学祭では部署という単位に分かれ、それぞれの部署がそれぞれの仕事をこなすが、その中でWeb部署長を務め、このWebサイトの制作をした。
				</p>
				<p>
					<a href="http://geikousai-ncu.com/2015/" target="_blank">http://geikousai-ncu.com/2015</a>	
				</p>
			</div>
			<div class="works-row clearfix js-fadein">
				<img class="fl" src="./images/works/geikousai/img_1.png" alt="">
				<section class="fr">
					<h3>部署長が集い、<br>方針を決定する長会議</h3>
					<p>
						テーマの決定など、芸工祭全体の方針を決定しています。
					</p>
					<p>
						2015年のテーマは「shif+」。<br>
						当時、中には反対意見もありましたが、今では<strong>みんな大好き「shif+」</strong>
					</p>
				</section>
			</div>
			<div class="works-row clearfix js-fadein">
				<section class="fl">
					<h3>Web部署、後輩合流。<br>内部勉強会を開催しました。</h3>
					<p>
						芸工祭が芸工の一大イベントとなりうるのは、ほとんどの学生が芸工祭の部署に配属され、芸工祭に向けて活動に参加するという圧倒的な参加率にあります。<br>
						（1~3年が全員で約300名なのに対し、250名近くがどこかしらの部署に入る！）
					</p>
					<p>
						そうしてWeb部署にも15名の1,2年生が集まり、Web部署として最多人数を記録しました。
					</p>
					<p>
						集まった後輩は、右も左も分からないようなWeb初心者ばかりだったのでまずは３年生が中心となって、勉強会を開催することにしました。<br>
						<em>何も知らない子が興味をもって参加してきてくれるのはとても嬉しい。</em>
					</p>
					<p>
						当時、勉強会のスライドをまとめた簡易サイトを作り、いつでも活用できるように工夫。<br>
						<a href="http://geikousai-ncu.com/2015/other/lecture" target="_blank">http://geikousai-ncu.com/2015/other/lecture</a>
					</p>
					<p>
						まずはどんなWebサイトにするか、テーマ「shif+」をどう表現するかを全員で話し合い、デザイン志望のデザイン班で形にしていきます。
					</p>
					<p>
						それをコーディング班でひたすらコーディング！
					</p>
				</section>
				<img class="fr" src="./images/works/geikousai/img_2.png" alt="">
				<img class="fr MT20" src="./images/works/geikousai/img_3.png" alt="">
			</div>
			<div class="works-row full clearfix js-fadein">
				<section>
					<h3>そうして、完成したWebサイトがこちらです！</h3>
					<p><a href="http://geikousai-ncu.com/2015" target="_blank">http://geikousai-ncu.com/2015</a></p>
					<p>
						トップページには、「<a href="https://twitter.com/search?f=tweets&vertical=default&q=%23%E8%8A%B8%E5%B7%A5%E7%A5%AD2015&src=typd" target="_blank">#芸工祭2015</a>」をツイート検索し、2週間以内の最新11件を表示。このおかげでTwitterのタイムラインは芸工祭で大いに盛り上がりました。<br>
						また、各部署によって「shif+」の捉え方は異なりますが、Webサイトでは「時の変化」ととらえ表現。朝・夕、昼、夜と背景が変わり、ツイートのなる実は芸工祭当日が近づくにつれ青色から赤色へと徐々に色づきます。夜に現れる月も、時間によって場所が移動してるんですよ。
					</p>
				</section>
				<img class="MT20" src="./images/works/geikousai/img_4.png" alt="">
				<img class="MT20" src="./images/works/geikousai/img_5.png" alt="">
			</div>
		</div>
	</main>
	<% include _footer %>
</body>
</html>
