<!DOCTYPE html>
<html lang="ja">
<head>
	<% var title = 'からくりSHOT！' %>
	<% var description = '大学２年春の実習課題で、「メディア」をテーマに制作した作品。作りはぐだぐだだけど、アイデアは気に入っていますので遊んでみてください。' %>
	<% include _head %>
</head>
<body>
	<% include _header %>
	<main>
		<div class="works-mv category-web">
			<img src="./images/works/karakuri/mv.png" alt="">
		</div>
		<div class="container clearfix">
			<section class="works-info">
				<h2>からくりSHOT！</h2>
				<time>2014.4 ~ 2014.7</time>
				<ul>
					<li>Planning</li>
					<li>Design</li>
					<li>HTML + CSS</li>
					<li>JavaScript</li>
				</ul>
				<a href="http://mtmtkzm.com/works/cmr" target="_blank">http://mtmtkzm.com/works/cmr</a>
			</section>
			<div class="works-row js-fadein">
				<p>
					大学２年春の実習課題で、「メディア」をテーマに制作した作品。
				</p>
				<p>
					ここでは、「メディア」を表情と感情を結びつけるものとしてとらえこのアプリケーションを制作した。<br>
					アプリ内に仕掛けられたからくりによって、ユーザにとある感情を連想させその瞬間の表情をカメラでキャプチャするというもの。
				</p>
				<p>
					自分のある瞬間の表情って、意外と見ることが出来ないので楽しく遊べるかも？
				</p>
				<p>
					<a href="http://mtmtkzm.com/works/cmr" target="_blank">http://mtmtkzm.com/works/cmr</a>
				</p>
			</div>
			<div class="works-row clearfix js-fadein">
				<section class="fr">
					<h3>良い表情を引き出せそうな<br>からくりを考える</h3>
					<p>
						気持ち悪い虫を題材に、しかめた顔をキャプチャすることにした。<br>

						そこで、Google画像検索「<a href="https://www.google.co.jp/search?q=%E6%B0%97%E6%8C%81%E3%81%A1%E6%82%AA%E3%81%84+%E8%99%AB&espv=2&biw=1440&bih=805&source=lnms&tbm=isch&sa=X&ved=0ahUKEwjGv8nGv8zKAhUFLqYKHaoNAU0Q_AUIBigB" target="_blank">気持ち悪い 虫</a>」とすると想像以上の気持ち悪さだった。ここがこの実習での最難関ポイント...。
					</p>
					<p>
						（できあがったものは作品の中でお楽しみください）
					</p>
				</section>
				<img class="fl" src="./images/works/karakuri/img_1.png" alt="">
			</div>
			<div class="works-row clearfix js-fadein">
				<section class="fr">
					<h3>ブラウザ上でどう表現するか</h3>
					<p>
						例えば、対象者を驚かそうとすれば、集中しているところを後ろから「わっ！！」と声をかければいいような気がする。<br>
						しかしながら、ブラウザという限られた表現方法の中でどういう風にすれば、からくりをうまく表現でき、うまく表情を引き出せるかを考える。<br>
					</p>
					<p>
						..この時、動画の表現方法としての優秀さにしみじみする。
					</p>
				</section>
				<img class="fl" src="./images/works/karakuri/img_2.png" alt="">
			</div>
			<div class="works-row full clearfix js-fadein">
				<section>
					<h3>ぜひ触って遊んでみてください。</h3>
					<p><a href="http://mtmtkzm.com/works/cmr" target="_blank">http://mtmtkzm.com/works/cmr</a></p>
				</section>
			</div>
		</div>
	</main>
	<% include _footer %>
</body>
</html>