<!DOCTYPE html>
<html lang="ja">
<head>
  <% var title = 'OthloTech' %>
  <% var description = '名古屋でOthloTechという学生団体を立ち上げた話' %>
  <% include _head %>
</head>
<body>
  <% include _header %>
  <main>
    <div class="works-mv category-other">
      <img src="./images/works/othlotech/mv.png" alt="">
    </div>
    <div class="container clearfix">
      <section class="works-info">
        <h2>OthloTech</h2>
        <time>2016.5 ~</time>
        <ul>
          <li>Event Planning</li>
          <li>Design</li>
        </ul>
        <a href="http://www.othlo.tech" target="_blank">http://www.othlo.tech</a>
      </section>
      <div class="works-row js-fadein">
        <p>
          2016年4月、とある勉強会でふたりの男に出会い、「名古屋では勉強会をはじめとするイベントが少ないよね」「もっと盛り上がればいいね」という点で、意気投合（したつもり）。<br>
          そこから、何度かのミーティングを経て、OthloTechという、クリエイティブな学生が集まるコミュニティを立ち上げました。
        </p>
        <p>
          立ち上げに関する詳しくは、2016年 Qiita AdventCalender の1日目に立ち上げメンバーである矢崎が投稿してくれています。<br>
          <a href="http://www.othlo.tech/blogs/othlotech-launch-story/" target="_blank">名古屋のテック系学生団体「OthloTech」を創った経緯</a>
        </p>
      </div>
      <div class="works-row clearfix js-fadein">
        <img class="fl" src="./images/works/othlotech/img_1.png" alt="">
        <section class="fr">
          <h3>月に一度、勉強会を開催</h3>
          <p>まずは、当初、意気投合した中にあがる勉強会の少なさ。この問題を直接解決するためにも、名古屋という地域を盛り上げるためにも、勉強会の開催は必須であると考えました。これまでに開催したイベントはこちらにまとめてあります。<br><a href="http://www.othlo.tech/events/" target="_blank">http://www.othlo.tech/events/</a></p>
        </section>
      </div>
      <div class="works-row clearfix js-fadein">
        <section class="fl">
          <h3>例えば、ロゴタイプや名刺。</h3>
          <p>
            僕個人では主に、デザイン面で多く携わりました。
          </p>
          <p>
            ひとまず活動する上で、ロゴっぽいものは必要だよね、というところからロゴタイプのみを制作してみました。<br>
            それからというもの、そのままなので、どこかのタイミングでちゃんとブラッシュアップしたい！と思っています。
          </p>
        </section>
        <img class="fr" src="./images/works/othlotech/img_2.png" alt="">
      </div>
      <div class="works-row full clearfix js-fadein">
        <section>
          <h3>そうして、2016年5月より活動を続けています。</h3>
          <p>
            「なにをするにも前例がない」<br>この状態がとても楽しく、わくわくして過ごすことができました。
          </p>
        </section>
        <img class="MT20" src="./images/works/othlotech/img_4.png" alt="">
        <img class="MT20" src="./images/works/othlotech/img_5.png" alt="">
      </div>
    </div>
  </main>
  <% include _footer %>
</body>
</html>
