<!DOCTYPE html>
<html lang="ja">
<head>
	<% var title = '卓展2016Webサイト制作' %>
	<% var description = 'デザインを学ぶ学生による12のプロジェクトの成果発表・展示会、2016年度卓展のWebサイトを制作した。' %>
	<% include _head %>
</head>
<body>
	<% include _header %>
	<main>
		<div class="works-mv category-web">
			<img src="./images/works/takuten/mv.png" alt="">
		</div>
		<div class="container clearfix">
			<section class="works-info">
				<h2>卓展2016</h2>
				<time>2016.6</time>
				<ul>
					<li>Planning</li>
					<li>HTML + CSS</li>
					<li>JavaScript</li>
				</ul>
				<a href="http://taku-ten.com" target="_blank">http://taku-ten.com</a>
			</section>
			<div class="works-row js-fadein">
				<p>
					デザインを学ぶ学生による12のプロジェクトの成果発表・展示会、「卓展」の2016年度版Webサイトを制作した。卓展は自体これまで10数年、毎年開催されてきたがWebサイトは準備されていなかったので、思い切って制作することにした。
				</p>
				<p>ドメインは、今回はじめて日本語ドメイン（卓展.jp）を使ってみようかと思ったけど、SNSを中心に拡散されることを考えると、taku-ten.comに。</p>
				<p>
					<a href="http://taku-ten.com" target="_blank">http://taku-ten.com</a>
				</p>
			</div>
			<div class="works-row clearfix js-fadein">
				<section class="fl">
					<h3>卓展とは？</h3>
					<p>
						デザインを学ぶ芸術工学部の学生による、12のプロジェクトの成果発表・展示会のことであり、これまで10数年毎年開催されてきた。
					</p>
				</section>
				<img class="fr" src="./images/works/takuten/img_1.png" alt="">
			</div>
			<div class="works-row clearfix js-fadein">
				<section class="fl">
					<h3>アニメーションに苦労した</h3>
					<p>今回、結構アニメーションのあるサイト仕様だったのでどう実装しようか悩みながら手探りでコーディングするもブラウザ対応でいろいろ悩まされ、当時はかなり疲弊した。<br>同時に、その辺の知見がないなぁ...と思っちゃって余計疲れてしまう負のスパイラルで投げ出したくなった。笑</p>
					<p>
					いろんなことが楽にできるようになってきている一方、違うところに気を遣わなければならず結構疲れるね！これ！
					</p>
				</section>	
				<img class="fr MT20" src="./images/works/takuten/img_2.png" alt="">
			</div>
			<div class="works-row full clearfix js-fadein">
				<section>
					<h3>なんだかんだ、爽やかなWebサイトが出来上がりました</h3>
					<p>
						ちなみに、デザインは <a href="http://y-hmd.com" target="_blank">http://y-hmd.com</a>。コーディングも手伝ってもらいました。
					</p>
					<p><a href="http://taku-ten.com" target="_blank">http://taku-ten.com</a></p>
					<p></p>
				</section>
				<img class="MT20" src="./images/works/takuten/img_3.png" alt="">
				<img class="MT20" src="./images/works/takuten/img_4.png" alt="">
			</div>
		</div>
	</main>
	<% include _footer %>
</body>
</html>