<!DOCTYPE html>
<html lang="ja">
<head>
	<% var title = 'Waste of Time' %>
	<% var description = 'Waste of Time. 直訳で時間の無駄。名前の通り、時間を無駄にするだけのクソゲーを制作した。Canvas,CreateJS,Milkcocoaを主に用いた。' %>
	<% include _head %>
</head>
<body>
	<% include _header %>
	<main>
		<div class="works-mv category-web">
			<img src="./images/works/wot/mv.png" alt="">
		</div>
		<div class="container clearfix">
			<section class="works-info">
				<h2>Waste of Time</h2>
				<time>2016.3 ~ 2016.4</time>
				<ul>
					<li>Planning</li>
					<li>JavaScript</li>
					<li>Canvas</li>
					<li>CreateJS</li>
					<li>Milkcocoa</li>
				</ul>
				<a href="http://mtmtkzm.com/wot" target="_blank">http://mtmtkzm.com/wot</a>
			</section>
			<div class="works-row js-fadein">
				<p>
					なんか久々にCanvasで作りたいなーと思い立ち、突如取り掛かり始めたのがこのWaste of Time.<br>
					時間を無駄にするだけのクソゲーですが、是非一度プレイしてみてください。<br>ランキング機能もついていますのでランクインするまで頑張ってみてください。
				</p>
				<p>
					<a href="http://mtmtkzm.com/wot" target="_blank">http://mtmtkzm.com/wot</a>
				</p>
			</div>
			<div class="works-row clearfix js-fadein">
				<section class="fl">
					<h3>突如思い立つ</h3>
					<p>
						「Canvasを使って久々になんか作りたいなー」と思ったのがきっかけ。<br>
						前に作ったものはこれです。<br>
					</p>
					<p>
						<a href="http://mtmtkzm.com/canvas.html">http://mtmtkzm.com/canvas.html</a>
					</p>
				</section>
				<div class="js-fadein fl">
					<blockquote class="twitter-tweet" data-lang="ja">
						<p lang="ja" dir="ltr">久々にcanvasでなんか作ってみよ</p>
						&mdash; ライダー (@mtmtkzm)
						<a href="https://twitter.com/mtmtkzm/status/713596570260754432">2016年3月26日</a>
					</blockquote>
					<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
				</div>
			</div>
			<div class="works-row clearfix js-fadein">
				<section class="fr">
					<h3>まず、機能を実装する</h3>
					<p>
						以前書いたコードを読んだり様々な記事を読みあさったりしたけど、結局のところ、まず書き始めるのが一番良いなと思い、思いついた機能を順に実装していき、機能だけを全て実装した。<br>
					</p>
					<p>
						そういやこの時点では、ゴキブリを叩き潰すゲームだったなあ笑
					</p>
					<p>
						また、今までサーバサイド技術を持ち合わせていなかった故実装できなかったランキング機能を、Milkcocoaが解決してくれてちょっと感動。<br>
						実装時のことは、Qiitaに投稿しました。
					</p>
					<p>
						<a href="http://qiita.com/mtmtkzm/items/b5a9ae176390e72154ce">Milkcocoaに保存された、名前とスコアのデータからランキングを作る</a>
					</p>
				</section>
				<img class="fl MT20" src="./images/works/wot/img_2.png" alt="">
			</div>
			<div class="works-row clearfix js-fadein">
				<section class="fl">
					<h3>Sketch3でデザインを作る</h3>
					<p>
						機能が大体できたのでデザインを実装してみよう！ということでアプリストアから良さげな雰囲気や世界観をもつアプリのキャプチャを探しまくる。<br>
						結果、落ち着いた色のモノトーンでいくことに。
					</p>
					<p>
						細かいところまではあまりこだわらずにサクサク作っていく。<br>
						「Sketch楽しい、はまる〜〜〜〜！」こんな感じで数時間で終わらせる。
					</p>
					<p>
						og-imageや、アイコンなどもここで作っちゃう。
					</p>
				</section>
				<img class="fr MT20" src="./images/works/wot/img_2.png" alt="">
			</div>
			<div class="works-row clearfix js-fadein">
				<section class="fr">
					<h3>デザインを実装していく</h3>
					<p>
						TweenJSと呼ばれるライブラリで軽くアニメーションをつけてみたりもしたが、このとき意外と難しく感じたのが色のアニメーション。思うように動かず四苦八苦・・。
					</p>
				</section>
				<img class="fl MT20" src="./images/works/wot/img_2.png" alt="">
			</div>
			<div class="works-row full clearfix js-fadein">
				<section>
					<h3>完成したクソゲーはこちら！</h3>
					<p><a href="http://mtmtkzm.com/wot" target="_blank">http://mtmtkzm.com/wot</a></p>
					<p></p>
				</section>
				<img class="MT20" src="./images/works/wot/img_3.png" alt="">
				<img class="MT20" src="./images/works/wot/img_4.png" alt="">
			</div>
		</div>
	</main>
	<% include _footer %>
</body>
</html>